@use "../../components/_setup/vars.scss" as *;
@use "../../components/_setup/fonts.scss" as *;
@use "../../components/_setup/breakpoints.scss" as *;

canvas {
  overscroll-behavior: none;
  touch-action: none;
  display: block;
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
}

div[ref] {
  overscroll-behavior: none;
  touch-action: none;
  width: 100%;
  height: 100vh;
  overflow: visible;
}
