@use "../_setup/vars.scss" as *;

.object-controls__title {
  @include necto-mono;
  @include font-size-xs;
  font-family: $font-family-necto-mono;
  text-transform: capitalize !important;
  background-color: #{$color-white};
  color: $color-black;
  padding: $padding-xs;
  border: $border-width solid $color-black;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  transform: none;
  width: max-content;
  margin: auto;
  transform: translateY(-345%);

  @include mobile {
    @include font-size-sm;
  }
}

.object-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  z-index: 1000;
  row-gap: 0;
  transform: translateY(-50%);
}

.object-controls__row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: calc($margin * 1.65);
  margin-bottom: calc($margin * -0.4);
  
  > * + * {
    margin-left: -20px;
  }

  &:first-child {
    column-gap: calc($margin * 2.7);
    margin-bottom: -10px;

    @include mobile {
      column-gap: calc($margin * 5);
    }
    @include lg {
      column-gap: calc($margin * 1.8);
    }
  }

  @include mobile {
    column-gap: calc($margin-phone * 2);
    margin-bottom: calc($margin-phone * -0.5);
  }

  @include lg {
    column-gap: calc($margin * 1.1);
    margin-bottom: calc($margin * -0.4);
  }
}

.object-controls__action {
  width: calc($margin * 0.8);
  height: calc($margin * 0.8);
  border-radius: 50%;
  border: 1px solid #898989;
  background: radial-gradient(circle, #737373 0%, #D9D9D9 85%);
  color: #{$color-accent};
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  padding: 0;
  pointer-events: auto;
  position: relative;
  z-index: 1001;
  user-select: none;

  @include mobile {
    width: calc($margin * 2.2);
    height: calc($margin * 2.2);
  }

  @include lg {
    width: calc($margin * 0.6);
    height: calc($margin * 0.6);
  }
  
  svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  
  img {
    pointer-events: none;
  }
  
  &:hover {
    background: radial-gradient(circle, #737373 0%, #7CF2FF 90%);
  }
  
  &:active {
    transform: scale(0.95);
  }
}

.object-controls__action--save {
  background: radial-gradient(circle, #737373 0%, #7CF2FF 90%);
  padding: 3px;
  &:hover {
    background: radial-gradient(circle, #737373 0%, #D9D9D9 85%);
  }

  svg {
    transform: scale(0.7);
  }
}

.object-controls__action--rotate {
  padding: 3px;
  svg {
    transform: scale(0.9) translate(1px);
  }
}

.object-controls__dpad-button {
  width: calc($margin * 1.6);
  height: calc($margin * 1.6);
  border-radius: 50%;
  border: 1px solid #898989;
  background: radial-gradient(circle, #737373 0%, #D9D9D9 85%);
  color: #{$color-accent};
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  padding: 0;
  pointer-events: auto;
  position: relative;
  z-index: 1001;
  user-select: none;

  @include mobile {
    width: calc($margin * 3.8);
    height: calc($margin * 3.8);
  }

  @include lg {
    width: calc($margin * 1.1);
    height: calc($margin * 1.1);
  }
  
  &:hover {
    background: radial-gradient(circle, #737373 0%, #7CF2FF 90%);
  }
  
  &:active {
    transform: scale(0.95);
  }
  
  svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}

