@import "https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ledger&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap";
/* [project]/components/objectControls/object-controls.scss.css [app-client] (css) */
@font-face {
  font-family: Ortica Angular;
  src: url("/fonts/ortica-main/OrticaAngular-Bold.woff2") format("woff2"), url("/fonts/ortica-main/OrticaAngular-Bold.woff") format("woff"), url("/fonts/ortica-main/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Regular.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Medium.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Bold.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Oblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-MediumOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-BoldOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: NectoMono-Regular;
  src: url("/fonts/necto-mono-main/NectoMono-Regular.woff2") format("woff2"), url("/fonts/necto-mono-main/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.object-controls__title {
  letter-spacing: .01em;
  font-family: NectoMono-Regular, monospace;
  font-size: clamp(.65rem, .8vw, .75rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  .object-controls__title {
    font-size: clamp(.6rem, 1.5vw, .65rem);
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .object-controls__title {
    font-size: clamp(.6rem, .95vw, .7rem);
  }
}

@media (min-width: 1700px) {
  .object-controls__title {
    font-size: clamp(.95rem, .85vw, .8rem);
  }
}

.object-controls__title {
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  leading-trim: NONE;
  letter-spacing: .01em;
  font-size: clamp(.6rem, .75vw, .7rem);
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  .object-controls__title {
    font-size: clamp(.45rem, 1.3vw, .6rem);
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .object-controls__title {
    font-size: clamp(.55rem, .85vw, .65rem);
  }
}

@media (min-width: 1700px) {
  .object-controls__title {
    font-size: clamp(.75rem, .8vw, .75rem);
  }
}

.object-controls__title {
  color: #000;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #000;
  width: max-content;
  margin: auto;
  padding: 5px;
  font-family: NectoMono-Regular, monospace;
  transform: translateY(-345%);
  text-transform: capitalize !important;
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-aspect-ratio: 4 / 5) {
  .object-controls__title {
    letter-spacing: .01em;
    font-size: clamp(.65rem, .8vw, .75rem);
    font-weight: 300;
    line-height: 1.2;
  }
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) and (max-width: 780px), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) and (max-width: 780px), only screen and (max-aspect-ratio: 4 / 5) and (max-width: 780px) {
  .object-controls__title {
    font-size: clamp(.6rem, 1.5vw, .65rem);
  }
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) and (min-width: 780px) and (max-width: 1040px), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) and (min-width: 780px) and (max-width: 1040px), only screen and (max-aspect-ratio: 4 / 5) and (min-width: 780px) and (max-width: 1040px) {
  .object-controls__title {
    font-size: clamp(.6rem, .95vw, .7rem);
  }
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) and (min-width: 1700px), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) and (min-width: 1700px), only screen and (max-aspect-ratio: 4 / 5) and (min-width: 1700px) {
  .object-controls__title {
    font-size: clamp(.95rem, .85vw, .8rem);
  }
}

.object-controls {
  pointer-events: auto;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  display: flex;
  position: relative;
  transform: translateY(-50%);
}

.object-controls__row {
  justify-content: center;
  align-items: center;
  column-gap: 4.94604vw;
  margin-bottom: -1.19904vw;
  display: flex;
}

.object-controls__row > * + * {
  margin-left: -20px;
}

.object-controls__row:first-child {
  column-gap: 8.09353vw;
  margin-bottom: -10px;
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-aspect-ratio: 4 / 5) {
  .object-controls__row:first-child {
    column-gap: 14.988vw;
  }
}

@media (min-width: 1700px) {
  .object-controls__row:first-child {
    column-gap: 5.39568vw;
  }
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-aspect-ratio: 4 / 5) {
  .object-controls__row {
    column-gap: 12.7226vw;
    margin-bottom: -3.18066vw;
  }
}

@media (min-width: 1700px) {
  .object-controls__row {
    column-gap: 3.29736vw;
    margin-bottom: -1.19904vw;
  }
}

.object-controls__action {
  color: #e9ff00;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1001;
  user-select: none;
  background: radial-gradient(circle, #737373 0%, #d9d9d9 85%);
  border: 1px solid #898989;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.39808vw;
  height: 2.39808vw;
  padding: 0;
  transition: all .2s;
  display: flex;
  position: relative;
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-aspect-ratio: 4 / 5) {
  .object-controls__action {
    width: 6.59472vw;
    height: 6.59472vw;
  }
}

@media (min-width: 1700px) {
  .object-controls__action {
    width: 1.79856vw;
    height: 1.79856vw;
  }
}

.object-controls__action svg {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.object-controls__action img {
  pointer-events: none;
}

.object-controls__action:hover {
  background: radial-gradient(circle, #737373 0%, #7cf2ff 90%);
}

.object-controls__action:active {
  transform: scale(.95);
}

.object-controls__action--save {
  background: radial-gradient(circle, #737373 0%, #7cf2ff 90%);
  padding: 3px;
}

.object-controls__action--save:hover {
  background: radial-gradient(circle, #737373 0%, #d9d9d9 85%);
}

.object-controls__action--save svg {
  transform: scale(.7);
}

.object-controls__action--rotate {
  padding: 3px;
}

.object-controls__action--rotate svg {
  transform: scale(.9)translate(1px);
}

.object-controls__dpad-button {
  color: #e9ff00;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1001;
  user-select: none;
  background: radial-gradient(circle, #737373 0%, #d9d9d9 85%);
  border: 1px solid #898989;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 4.79616vw;
  height: 4.79616vw;
  padding: 0;
  transition: all .2s;
  display: flex;
  position: relative;
}

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-aspect-ratio: 4 / 5) {
  .object-controls__dpad-button {
    width: 11.3909vw;
    height: 11.3909vw;
  }
}

@media (min-width: 1700px) {
  .object-controls__dpad-button {
    width: 3.29736vw;
    height: 3.29736vw;
  }
}

.object-controls__dpad-button:hover {
  background: radial-gradient(circle, #737373 0%, #7cf2ff 90%);
}

.object-controls__dpad-button:active {
  transform: scale(.95);
}

.object-controls__dpad-button svg {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

/* [project]/components/kitModels/object-title.scss.css [app-client] (css) */
@font-face {
  font-family: Ortica Angular;
  src: url("/fonts/ortica-main/OrticaAngular-Bold.woff2") format("woff2"), url("/fonts/ortica-main/OrticaAngular-Bold.woff") format("woff"), url("/fonts/ortica-main/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Regular.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Medium.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Bold.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Oblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-MediumOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-BoldOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: NectoMono-Regular;
  src: url("/fonts/necto-mono-main/NectoMono-Regular.woff2") format("woff2"), url("/fonts/necto-mono-main/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.object-title {
  letter-spacing: .01em;
  font-family: NectoMono-Regular, monospace;
  font-size: clamp(.65rem, .8vw, .75rem);
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  .object-title {
    font-size: clamp(.6rem, 1.5vw, .65rem);
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .object-title {
    font-size: clamp(.6rem, .95vw, .7rem);
  }
}

@media (min-width: 1700px) {
  .object-title {
    font-size: clamp(.95rem, .85vw, .8rem);
  }
}

.object-title {
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  leading-trim: NONE;
  letter-spacing: .01em;
  font-size: clamp(.6rem, .75vw, .7rem);
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 780px) {
  .object-title {
    font-size: clamp(.45rem, 1.3vw, .6rem);
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .object-title {
    font-size: clamp(.55rem, .85vw, .65rem);
  }
}

@media (min-width: 1700px) {
  .object-title {
    font-size: clamp(.75rem, .8vw, .75rem);
  }
}

.object-title {
  color: #000;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  background-color: #d2d2d2;
  border: 1px solid #000;
  padding: 5px;
  font-family: NectoMono-Regular, monospace;
  text-transform: lowercase !important;
}

/* [project]/app/kit-of-parts/kit-parts.scss.css [app-client] (css) */
@font-face {
  font-family: Ortica Angular;
  src: url("/fonts/ortica-main/OrticaAngular-Bold.woff2") format("woff2"), url("/fonts/ortica-main/OrticaAngular-Bold.woff") format("woff"), url("/fonts/ortica-main/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Regular.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Medium.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Bold.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Oblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-MediumOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-BoldOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: NectoMono-Regular;
  src: url("/fonts/necto-mono-main/NectoMono-Regular.woff2") format("woff2"), url("/fonts/necto-mono-main/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

canvas {
  overscroll-behavior: none;
  touch-action: none;
  display: block;
  overflow: visible;
  width: 100% !important;
  height: 100% !important;
}

div[ref] {
  overscroll-behavior: none;
  touch-action: none;
  width: 100%;
  height: 100vh;
  overflow: visible;
}

/*# sourceMappingURL=_ad24ba6a._.css.map*/