/* [project]/components/homeButton/homeButton.scss.css [app-client] (css) */
@font-face {
  font-family: Ortica Angular;
  src: url("/fonts/ortica-main/OrticaAngular-Bold.woff2") format("woff2"), url("/fonts/ortica-main/OrticaAngular-Bold.woff") format("woff"), url("/fonts/ortica-main/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Regular.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Medium.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Bold.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Oblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-MediumOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-BoldOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: NectoMono-Regular;
  src: url("/fonts/necto-mono-main/NectoMono-Regular.woff2") format("woff2"), url("/fonts/necto-mono-main/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.home_button {
  font-optical-sizing: auto;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  leading-trim: NONE;
  cursor: pointer;
  white-space: nowrap;
  color: #1c1c1c;
  text-transform: uppercase;
  letter-spacing: .01em;
  justify-content: center;
  align-items: center;
  height: calc(1.5 * clamp(1.2rem, 1.5vw, 2.5rem));
  min-height: calc(1.5 * clamp(1.2rem, 1.5vw, 2.5rem));
  font-size: clamp(.85rem, .9vw, .9rem);
  font-weight: 300;
  line-height: 1.2;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
  display: flex;
  font-weight: 500 !important;
}

@media screen and (max-width: 780px) {
  .home_button {
    font-size: clamp(.75rem, 2.5vw, .975rem);
  }
}

@media (min-width: 780px) and (max-width: 1040px) {
  .home_button {
    font-size: clamp(.85rem, 1.2vw, 1rem);
  }
}

@media (min-width: 1700px) {
  .home_button {
    font-size: clamp(.95rem, 1.3vw, 1.1rem);
  }
}

.home_button {
  margin-top: -2px !important;
}

.home_button:hover {
  opacity: .7;
}

@media screen and (max-width: 780px) {
  .home_button {
    letter-spacing: .01em;
    color: #c3c3c3;
    font-size: clamp(.65rem, .8vw, .75rem);
    font-weight: 300;
    line-height: 1.2;
    margin-top: clamp(1.7rem, 2vw, 3.5rem) !important;
  }
}

@media screen and (max-width: 780px) and (max-width: 780px) {
  .home_button {
    font-size: clamp(.6rem, 1.5vw, .65rem);
  }
}

@media screen and (max-width: 780px) and (min-width: 780px) and (max-width: 1040px) {
  .home_button {
    font-size: clamp(.6rem, .95vw, .7rem);
  }
}

@media screen and (max-width: 780px) and (min-width: 1700px) {
  .home_button {
    font-size: clamp(.95rem, .85vw, .8rem);
  }
}

/*# sourceMappingURL=components_homeButton_homeButton_scss_css_bad6b30c._.single.css.map*/