/* [project]/components/new/kit-parts-buttons.scss.css [app-client] (css) */
@font-face {
  font-family: Ortica Angular;
  src: url("/fonts/ortica-main/OrticaAngular-Bold.woff2") format("woff2"), url("/fonts/ortica-main/OrticaAngular-Bold.woff") format("woff"), url("/fonts/ortica-main/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Regular.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Medium.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Bold.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-Oblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-Oblique.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-MediumOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/ronzino-main/Ronzino-BoldOblique.woff2") format("woff2"), url("/fonts/ronzino-main/Ronzino-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: NectoMono-Regular;
  src: url("/fonts/necto-mono-main/NectoMono-Regular.woff2") format("woff2"), url("/fonts/necto-mono-main/NectoMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.kit-parts-buttons {
  z-index: 10;
  flex-direction: column;
  gap: 5px;
  display: flex;
  position: fixed;
  top: clamp(1.2rem, 1.5vw, 2.5rem);
  right: clamp(1.2rem, 1.5vw, 2.5rem);
}

.kit-parts-button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .04em;
  border: 1px solid var(--color-accent-gold, #f9b200);
  cursor: pointer;
  background: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  padding: 10px 20px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  transition: all .25s;
  display: inline-flex;
}

.kit-parts-button.active {
  background: var(--color-accent-gold, #f9b200);
  color: #000;
}

.kit-parts-button.selected {
  border-width: 2px;
  border-color: #000;
}

.kit-parts-button:hover {
  background: var(--color-accent-gold, #f9b200);
  color: #000;
}

/*# sourceMappingURL=components_new_kit-parts-buttons_scss_css_bad6b30c._.single.css.map*/