$screen-s-min: 780px;
$screen-s-tab: 790px;
$screen-m-w: 1040px;
$screen-m-tab: 1024px;
$screen-lg-min-w: 1700px;
$screen-xxl-min-w: 1900px;
$screen-xxl-min-h: 1000px;

// Additional breakpoints for specific use cases
$screen-xs: 487px;
$screen-sm-mobile: 515px;
$screen-mobile: 620px;
$screen-tablet: 767px;
$screen-tablet-lg: 800px;
$screen-tablet-xl: 842px;

@mixin desktop {
  @media only screen and (min-device-width: 813px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-device-width: 668px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-aspect-ratio: 4/5) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (max-aspect-ratio: 4/5) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: #{$screen-s-min}) {
    @content;
  }
}

@mixin mm {
  @media (min-width: #{$screen-s-min}) and (max-width: #{$screen-m-w}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min-w}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xxl-min-w}) and (min-height: #{$screen-xxl-min-h}) {
    @content;
  }
}

@mixin tablan {
  @media (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @content;
  }
}

@mixin tabpor {
  @media (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}

// Additional breakpoint mixins
@mixin xs {
  @media only screen and (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm-mobile {
  @media only screen and (max-width: #{$screen-sm-mobile}) {
    @content;
  }
}

@mixin mobile-sm {
  @media only screen and (max-width: #{$screen-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$screen-tablet}) {
    @content;
  }
}

@mixin tablet-lg {
  @media screen and (max-width: #{$screen-tablet-lg}) {
    @content;
  }
}

@mixin tablet-xl {
  @media only screen and (max-width: #{$screen-tablet-xl}) {
    @content;
  }
}

// 1:1 Aspect Ratio Breakpoint (for square screens)
@mixin aspect-ratio-1-1 {
  @media screen and (min-aspect-ratio: 0.95) and (max-aspect-ratio: 1.05) {
    @content;
  }
}
