@use "../_setup/vars.scss" as *;
@use "../_setup/fonts.scss" as *;
@use "../_setup/breakpoints.scss" as *;


.inventory-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  @include grid-width-with-margin(4);
  height: 100vh;
  background-color: $color-gray-light;
  z-index: $z-index-modal-overlay;
  transform: translateX(-100%);
  transition: transform $transi ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: $border-width solid transparent;
  will-change: transform;

  &:hover {
    border-color: $color-white;
  }

  &.open {
    transform: translateX(0) !important;
    pointer-events: auto;
    z-index: $z-index-modal-overlay-1;
  }
  
  &:not(.open) {
    pointer-events: none;
    
    * {
      pointer-events: none;
    }
  }

  @include mobile {
    @include grid-width-mobile-with-margin(4);
    width: 100vw;
    height: 50dvh;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    flex-direction: row;
    
    &.open {
      transform: translateY(0) !important;
    }
  }

  @include aspect-ratio-1-1 {
    top: auto;
    bottom: 0;
    transform: translateY(100%);
    flex-direction: row;
    
    &.open {
      transform: translateY(0) !important;
    }
  }
}

.inventory-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.inventory-nav {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
  align-items: flex-start;
  padding: $margin;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  pointer-events: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    pointer-events: auto;
  }

  li {
    display: block;
    width: 100%;
    pointer-events: auto;
  }

  @include mobile {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    padding: $margin-phone;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      flex-direction: row;
      width: auto;
      height: 100%;
    }

    li {
      width: auto;
      height: 100%;
    }
  }

  @include aspect-ratio-1-1 {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    padding: $margin-phone;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      flex-direction: row;
      width: auto;
      height: 100%;
    }

    li {
      width: auto;
      height: 100%;
    }
  }
}

.inventory-item {
  width: 100%;
  height: $inventory-item-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity $transi ease;
  position: relative;
  border: $border-width solid transparent;
  box-sizing: border-box;
  pointer-events: auto;

  &.inventory-item-active {
    filter: saturate(0);
    border: none;
  }

  @include mobile {
    width: 25vh;
    height: 100%;
    min-width: 25vh;
    flex-shrink: 0;
  }

  @include aspect-ratio-1-1 {
    width: 25vh;
    height: 100%;
    min-width: 25vh;
    flex-shrink: 0;
  }
}

.inventory-item-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}

.inventory-item-remove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-white;
  background-color: $color-black;
  border: $border-width solid $color-white;
  font-family: $font-family-necto-mono;
  font-size: $font-size-sm;
  text-align: center;
  padding: $padding-xxs $padding-lg $padding-xs $padding-lg;
  border-radius: $border-radius-lg;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
}
