@use "../_setup/vars.scss" as *;
@use "../_setup/fonts.scss" as *;
@use "../_setup/breakpoints.scss" as *;

body.archive-modal-open,
html.archive-modal-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

body.archive-modal-open.glossary-page,
html.archive-modal-open.glossary-page {
  overflow: hidden !important;
  overflow-y: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

.archive-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: $z-index-modal-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity;
  contain: layout style paint;
}

.archive-modal-content {
  position: relative;
  inset: auto;
  border: none;
  background: transparent;
  overflow-y: auto;
  border-radius: 0;
  outline: none;
  padding-top: $margin-corner;
  padding-bottom: $margin-corner;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: auto;
  height: auto;
  max-width: none;
  max-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  will-change: transform, opacity;
  contain: layout style paint;
  transform: translateZ(0);
  -ms-overflow-style: none;
  scrollbar-width: none;

  z-index: $z-index-modal-1;

  @include mobile {
    padding-top: $margin-menu;
    max-height: 100dvh;
    -webkit-overflow-scrolling: touch;
    top:0;
    padding-bottom: 0;
  }
  @include lg {
    padding-top: $margin-corner-desktop;
    padding-bottom: $margin-corner-desktop;
  }


  &::-webkit-scrollbar {
    display: none;
  }

  a {
    @include underline;
  }
}

.archive-modal-content .modal_wrapper {
  position: sticky;
  top: $margin-side;
  bottom: $margin-side;
  z-index: $z-index-modal;
  width: 80vw;
  max-width: 1400px;
  max-height: calc(calc(var(--vh, 1vh) * 100) - #{$margin-corner} * 2);
  @include lg {
    max-height: calc(calc(var(--vh, 1vh) * 100) - #{$margin-corner-desktop} * 2);
  }
  padding: 0;
  margin: 0;
  background-color: $color-white;
  border-radius: 0;
  border: $border-width solid $color-accent;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-shrink: 0;

  @include mobile {
    width: 100vw;
    max-width: 100vw;
    top: 0;
    bottom: auto;
    max-height: calc(100dvh - #{$margin-menu} * 1);
    z-index: $z-index-modal;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.archive-modal-content .close_button {
  position: fixed;
  right: 0;
  top: $margin-corner;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: $padding-xxs;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cross-size;
  height: $cross-size;
  transition: opacity $transi-fast ease;
  z-index: $z-index-modal-1;

  @include mobile {
    top: $margin-menu;
    right: 0;
    position: fixed;
    z-index: $z-index-modal-1;
  }

  @include lg {
    top: $margin-corner-desktop;
  }

  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: 0.5;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.archive-modal-content .content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: $margin-side;
  padding-bottom: calc(#{$margin-side} * 4);

  

  h2 {
    text-align: center;
    padding: $margin-corner;
    @include lg {
      padding: $margin-corner-desktop;
    }
    margin: 0;
    color: $color-black;
    width: 80%;
    max-width: 1200px;
    font-family: $font-family-ortica !important;
    @include font-h2-article;

    @include mobile {
      width: 100%;
      max-width: 100%;
      padding: $margin 0;
    }
  }

  .author {
    @include font-size-s;
    font-weight: 700 !important; 
    font-family: $font-family-inter;
    text-align: center;
    margin: 0;
    color: $color-black;
    width: 100%;
    padding-bottom: $margin-corner;

    @include mobile {
      padding-bottom: $margin-menu;
    }
    @include lg {
      padding-bottom: $margin-menu-desktop;
    }

    span {
      font-weight: 400;
      font-size: $font-size-sm;
    }
  }

  .image_wrapper {
    position: relative;
    width: 50vw;
    max-width: 100%;
    display: inline-block;
    min-height: 200px;

    @include mobile {
      width: calc(100vw - calc(#{$margin-menu}*2));
    }
    @include lg {
      width: 50vw;
    }

    &:not(:first-child) {
      margin-top: calc(#{$padding} * 2.5);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      padding: 0;

      @include mobile {
        max-width: calc(100vw - calc(#{$margin-menu}*2));
      }
      @include lg {
        width: 100%;
      }
    }

    .image_placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(20px);
      transform: scale(1.1);
      opacity: 0.6;
      z-index: 1;
      pointer-events: none;
      transition: opacity $transi ease;
    }

    .image_loading {
      opacity: 0;
      position: relative;
      z-index: 2;
    }

    .image_loaded {
      opacity: 1;
      transition: opacity $transi ease;
      position: relative;
      z-index: 2;
    }

    &.image_loaded .image_placeholder {
      opacity: 0;
    }
  }

  .isPortrait {
    width: fit-content;
    max-width: 50vw;

    @include mobile {
      max-width: calc(100vw - calc(#{$margin-menu}*2));
    }

    @include mm {
      max-width: calc(100vw - calc(#{$margin-menu}*2));
    }
    @include lg {
      max-width: 50vw;
    }
    
    img {
      max-height: calc(#{$wrapperHeight}*0.9);
      width: auto;
      height: auto;
      object-fit: contain;
      display: block;

      @include mobile {
        max-height: calc(100vw - calc(#{$margin-menu}*2));
      }
      @include lg {
        max-height: calc(#{$wrapperHeight}*0.85);
      }
     
    }

    .image_placeholder {
      object-fit: contain;
      max-height: calc(#{$wrapperHeight}*0.9);
      width: auto;
      height: auto;
    }
    
    .photo_credit {
      width: 100%;
      margin-top: $padding-xxs;
    }
  }


  > img:first-child {
    width: 50vw;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;

    @include mobile {
      max-width: calc(100vw - calc(#{$margin-menu}*2));
    }
    @include lg {
      max-width: 100%;
    }
  }

  > img:not(:first-child) {
    width: 50vw;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
  }

  .photo_credit {
    width: 100%;
    @include font-size-xs;
    color: $color-black;
    text-align: left;
    margin: $padding-xxs 0 0 0;
    padding: 0;
  }

  p {
    width: 50vw;
    max-width: 100%;
    word-break: break-word;
    position: relative;
    padding: 0;
    margin: 0;
    @include modal-text;
    color: $color-black;
    text-align: left;
  }

  a {
    text-decoration: underline;
    color: $color-black;
  }
}



.archive-modal-content .text {
  width: 50vw;
  max-width: 100%;
  @include font-size;
  display: block;
  color: $color-black;
  text-align: left;
  margin: 0;
  padding: 0;

  @include mobile {
    width: 85%; 
  }

  p {
    margin: 0;
    padding: 0;
  }


  img {
    width: 50vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: calc(#{$padding} * 2.5) 0;
    padding: 0;
  }
}

.archive-modal-content .text-1 {
  width: 50vw;
  max-width: 100%;
  @include font-size-s;
  display: block;
  color: $color-black;
  text-align: left;
  margin: 0;
  padding: 0;

  @include mobile {
    width: 100%;
    line-height: 135%;
  }

  p {
    margin: 0;
    padding: 0;
  }


  img {
    width: 50vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: calc(#{$padding} * 2.5) 0;
    padding: 0;
  }
}

.archive-modal-content .section {
  width: 50vw;
  max-width: 100%;

  @include mobile {
    width: 85%;
  }
}

.archive-modal-content .section_label {
  font-weight: bold;
  color: $color-black;
  text-align: left;
  padding: 0;
  margin-top: calc(#{$margin-corner} * 2);
  @include lg {
    margin-top: calc(#{$margin-corner-desktop} * 2);
  }

  @include mobile {
    margin-top: calc(#{$margin-menu} * 2);
  }
}

.archive-modal-content .connections {
  margin: 0;
  padding: 0;
  border-top: none;
  display: block;
  color: $color-black;
}

.archive-modal-content .item {
  @include font-size-s;
  color: $color-black;
  background: transparent;
  border: none;
  cursor: default;
  margin: 0;
  display: inline;
}

.archive-modal-content .item_link {
  @include font-size-s;
  font-weight: 700;
  color: $color-black;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity $transi-fast ease;
  display: inline;
  margin: 0;
  @include underline;
}

.archive-modal-content .comma {
  display: inline;
  margin: 0;
  padding: 0;
}

.archive-modal-content .empty {
  font-style: italic;
  color: $color-black;
  opacity: 0.6;
}


