@use "../_setup/vars.scss" as *;
@use "../_setup/fonts.scss" as *;
@use "../_setup/breakpoints.scss" as *;

.home_title_wrapper {
  position: fixed;
  bottom: $margin-corner;
  @include lg {
    bottom: $margin-corner-desktop;
  }
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: $z-index-modal-1;
  @include mobile {
    bottom: $margin-menu;
  }
}

.highlighted_term {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: $color-accent;
  padding: $padding-xs $padding-xs;
  min-height: calc(#{$margin-menu} * 0.8);
  max-height: 100%;
  max-width: 60vw;
  font-family: "NectoMono-Regular", monospace !important;
  font-weight: 400;
  font-style: normal;
  @include font-size-md;
  transform: scale(1.2);
  line-height: 115%;
  letter-spacing: 0%;
  text-transform: lowercase !important;
  background: $color-gray-dark-1;
  @include sm {
    max-width: 100vw;
    width: 100vw;
    transform: scale(1);
    padding: $padding-xs $margin-menu;
    @include lg {
      padding: $padding-xs $margin-menu-desktop;
    }
    @include font-size-sm;
    letter-spacing: 0
  }
}

.highlighted_article {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: $color-accent;
  padding: $padding-xs $padding-xs;
  min-height: calc(#{$margin-menu} * 0.8);
  max-height: 100%;
  max-width: 60vw;
  text-align: center;
  @include font-size-s;
  font-family: $font-family-ronzino !important;
  font-weight: 500;
  text-transform: capitalize;
  white-space: normal;
  transform: scale(1.2);
  line-height: 115%;
  background: $color-gray-dark-1;
  @include sm {
    max-width: 100vw;
    width: 100vw;
    transform: scale(1);
    padding: $padding-xs $margin-menu;
    @include lg {
      padding: $padding-xs $margin-menu-desktop;
    }
    @include font-size-sm;
    letter-spacing: 0;
  }
}
