@use "../_setup/vars.scss" as *;
@use "../_setup/fonts.scss" as *;
@use "../_setup/breakpoints.scss" as *;

.welcomeModalOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99999;
  will-change: opacity;
  contain: layout style paint;
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.welcomeModalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  will-change: transform, opacity;
  contain: layout style paint;
  pointer-events: auto;
  z-index: 100000;
  outline: none;
}

.living_continuity_button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 100001;
  will-change: transform, opacity;
  contain: layout style paint;
  pointer-events: auto;
  
  .black_box {
    background-color: $color-black;
    padding: $padding-xs 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile { 
      padding: $padding-xs $padding;
    }
    
    .main_text {
      @include font-inter-bold;
      margin: 0;
      padding: 0 $padding;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      text-transform: capitalize;
      color: $color-white;
      white-space: nowrap;
      @include font-h1;
      font-weight: 700;
    }

  }
  
  .enter_text {
    font-family: $font-family-ortica;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: lowercase;
    color: $color-white;
    @include font-size;
  }
}

.welcomeLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $color-white;
}

.welcomeTopbarWrapper {
  z-index: $z-index-modal-1;
}

.welcomeCanvasWrapper {
  --canvas-bg-color: #{$color-gray-dark-2};
  --canvas-height: 100vh;
  --canvas-z-index: #{$z-index-base};
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  
  canvas {
    background-color: var(--canvas-bg-color);
    height: var(--canvas-height);
    width: 100%;
    z-index: var(--canvas-z-index);
  }
}
